<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
            <%= gravatar_for @user %>
            <span class ="label label-info">名前</span>
            <span class ="label label-danger"><%= @user.name %></span>
            <br>
            <span class ="label label-info">住んでいる場所</span>
            <span class ="label label-danger"><%= @user.city %></span>
            <br>
            <br>
            <span class ="label label-warning"><%= link_to "[フォロー]" , followings_user_path %></span>
            <span class ="label label-warning"><%= link_to "[フォロワー]" , followers_user_path %></span>
            <span class ="label label-warning"><%= link_to "[edit]" , edit_user_path %></span>
    </section>
  </aside>
    <div class="col-md-8">
      
    <%= render 'follow_form' if logged_in? %>
    
    
    <% if @user.microposts.any? %>

      <h3>Microposts (
        <%= @user.microposts.count %>
    )</h3>
      <ol class="microposts">
        
        <%= render @microposts %>

      </ol>
    
    <% end %>




    

    </div>
</div>